muistiinpanot.txt
old_style.css
old_index.html
kuusipuu.aseprite
clicker_muut_100px.aseprite
clicker_muut_120px.aseprite


bman/.vscode/settings.json
bman/temp.js
bman/todos.txt
bman/assets/cobblestone_03_64.png
bman/assets/cobblestone_03.png-autosave.kra
bman/audacity/
bman/wav/
bman/old/
bman/musictest.html
bman/index_audiodebug.html
bman/temp2.js
bman/styles_mobiletest.css
