<!doctype html>
<html lang="fi">

<head>
  <title>Kaverilista v1</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>
  <header>
    <!-- Navigaatio -->
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="container space-between">
        <a class="navbar-brand" href="../../index.html">OHJ3</a>
          <ul class="navbar-nav me-auto mt-2 mt-lg-0">
            <!-- Dropdown -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Projektit</a>
              <div class="dropdown-menu" aria-labelledby="dropdownId">
                <a class="dropdown-item" href="kaverilista.html">JS1: Kaverilista</a>
                <a class="dropdown-item" href="lampotilamuunnin.html">JS2: Lämpötilamuunnin</a>
                <a class="dropdown-item text-body-tertiary" href="#">JS3: Lomake</a>
                <a class="dropdown-item text-body-tertiary" href="#">JS4: Clicker</a>
                <a class="dropdown-item text-body-tertiary" href="#">JS5: Sikanoppa</a>
                <a class="dropdown-item text-body-tertiary" href="#">JS6: Hedelmäpeli</a>
              </div>
            </li>
          </ul>
      </div>
    </nav>
  </header>

  <main>
    <div class="container p-5 col-lg-4">
      <h1>Kaverilista</h1>
      <p id="tuloste">Kerro kavereidesi nimet ja minä tulostan ne näytölle.</p>
      
      <div class="mb-3">
        <div class="mb-3">
          <input type="text"
            class="form-control" name="nimi0" id="nimi0" placeholder="Kaveri 1">
        </div>
        <input type="text"
          class="form-control" name="nimi1" id="nimi1" placeholder="Kaveri 2">
      </div>
      <div class="mb-3">
        <input type="text"
          class="form-control" name="nimi2" id="nimi2" placeholder="Kaveri 3">
      </div>
      <div class="mb-3">
        <input type="text"
          class="form-control" name="nimi3" id="nimi3" placeholder="Kaveri 4">
      </div>
      <div class="mb-3">
        <input type="text"
          class="form-control" name="nimi4" id="nimi4" placeholder="Kaveri 5">
      </div>
      <div class="mb-3">
        <input type="text"
          class="form-control" name="nimi5" id="nimi5" placeholder="Kaveri 6">
      </div>
      <div class="mb-3">
        <input type="text"
          class="form-control" name="nimi6" id="nimi6" placeholder="Kaveri 7">
      </div>
      <div class="mb-3">
        <input type="text"
          class="form-control" name="nimi7" id="nimi7" placeholder="Kaveri 8">
      </div>
      <div class="mb-3">
        <input type="text"
          class="form-control" name="nimi8" id="nimi8" placeholder="Kaveri 9">
      </div>
      <div class="mb-3">
        <input type="text"
          class="form-control" name="nimi9" id="nimi9" placeholder="Kaveri 10">
      </div>

      <button id="tulostus" class="btn btn-primary">Tulosta</button>
      <a href="kaverilista_v2.html" class="btn btn-outline-primary float-end">Avaa v2</a>

    </div>
  </main>
  
  <footer>
    <div class="container p-5 text-center">
      <h6>TOMMI PARTANEN &copy;2023</h6>
    </div>
  </footer>

  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
  <!-- Projektikohtainen skripti -->
  <script defer src="../../static/ohj3/kaverilista.js"></script>
</body>

</html>